@charset "utf-8";

/* @import url(../font/NotoSansKr/font.css); */
/* @import url(../font/NanumBarunGothic/font.css); */
/* @import url(../font/Godo/font.css); */


.mar em{    top: -63px;
    position: relative;}
.pop_wrap{width:1200px; margin: auto;}

	.top_pop_box{height:107px; background:#91eaf4 url(../images/top_box_img.jpg) no-repeat right top;  text-align:center; padding:17px 0 0 0;}
		.top_pop_box > h1{color:#454545; font-size:30px; font-weight:600;}
		.top_pop_box > h1 > span{color:#0f4bc6;}
		.top_pop_box > h1 > em{font-weight:400;}
		.top_txt_box{float: right;display:inline-block; font-size:15px; line-height:18px; color:#000; font-weight:600; background:#c6e9fd; border-radius:30px; padding:7px 20px; margin-top:7px;}
		.top_txt_box span.top_line{ background:url(../images/top_box_line.gif) no-repeat right top; display:inline-block; padding-right:10px;}
		.top_txt_box img{vertical-align:middle; margin:0 3px;}
	
	.con_pop_box_01{margin:0px 30px 0 0; background:#f8f8f8; border:1px solid #f1f1f1; text-align:center; padding:10px 0;}
	.con_pop_box_02{margin:10px 10px 0 -20px; padding:20px; background:#fff;}
		.con_pop_box_02_01{border:1px solid #f1f1f1; background:#fff; padding:15px 20px;}
		.con_pop_box_02_01 h2{display:inline-block; background:url(../images/pop_bul_img.gif) no-repeat left 1px; padding-left:19px; font-size:14px; line-height:16px; color:#333333; font-weight:600;}
		.con_pop_box_02_01 select{display:inline-block; border:1px solid #cfcfcf; height:22px; min-width:100px; margin-left:10px; font-size:12px;}	
			.posi_re{position:relative; margin-bottom:10px;}
			.posi_ab{position:absolute; right:0; top:10px; font-size:12px; color:#333333;}			
			.pop_basic_table{width:100%;  border-bottom:1px solid #e8e8e8;}
			.pop_basic_table thead th{padding:5px; font-weight:600; font-size:14px; background-color:#f3f7ff; border-top:1px solid #7e7e7e;  border-bottom:1px solid #e8e8e8;  color:#333333; }
			.pop_basic_table tbody td{padding:5px; border-bottom:1px solid #e8e8e8;  color:#666666; font-size:14px; text-align:center;}
			
			
table {font-size:15px;}
table caption{position:relative; visibility:hidden; height:0; font-size:0;}
.tbl_basic{width:280px;border-top:2px solid #585858; border-bottom:1px solid #ddd; text-align:center;}
.tbl_basic caption{height:0;line-height:0;}
.tbl_basic th{padding: 7px 5px;  font-size: 15px; background: #f8f8f8; border-top: 2px solid #607D8B; color: #222;}
.tbl_basic th{border-bottom:1px solid #ccc; margin-left:-1px; vertical-align:middle;}
.tbl_basic td{padding:0.26em 0; border-bottom:1px solid #ccc; margin-left:-1px; vertical-align:middle;}
.tbl_basic td img{width: 30px; height: 30px;}
.tbl_basic th.col_style{border-bottom:1px solid #fff;}
.tbl_basic thead th { vertical-align:middle;}
.tbl_basic tbody th {background:#f7f7f7; color:#333; vertical-align:middle;}
.tbl_basic tfoot{background:none;}
.tbl_basic .left{text-align:left;}
.tbl_basic > tbody > tr > td > a {text-align: left; float: left;  color:#444444; font-weight:500; }
.tbl_basic > tbody > tr > td > a:hover{text-decoration:underline;}
.tbl_basic tr:hover {background-color:#fefef4;}
.tbl_basic input[type="checkbox"]{border:none; height:27px;}
.tbl_basic> tbody > tr > td > input[type="checkbox"]{border:none; height:auto;}			

.box_left {float:left;}
.box_right {float:right;    margin-right: 30px;}

#contents {
    height: 100%;
    box-sizing: border-box;
    padding: 2vh;
    position: relative;
    background: #ecf0f3;
}

.mar {
    background: #fff;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 72px 15px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 8px #cdd5db;
    -webkit-box-shadow: 0 0 8px #cdd5db;
    overflow: hidden;
    position: relative;
}
h3 {
    font-family: "Godo";
    font-size: 24px;
    font-weight: normal;
    color: #015aaa;
    min-height: 42px;
    line-height: 42px;
    padding: 0 0 12px 0px;
    position: absolute;
    left: 2%;
    width: 96%;
    top: 17px;
    box-sizing: border-box;
}